# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Visual Studio Solution User Options
Legend of Mir.v11.suo
Legend of Mir.v12.suo
.vs/Legend of Mir/v15/.suo
Legend of Mir.sln.DotSettings.user
Client/Client.csproj
/Server/obj
/LibraryViewer/obj
/LibraryViewer/bin
/LibraryEditor/obj
/Client/obj
/AutoPatcherAdmin/obj

/Build
