<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="NuGet Offline Repository" value=".\Packages" />
    </packageSources>
    <activePackageSource>
        <add key="nuget.org" value="True" />
    </activePackageSource>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="False" />
    </packageRestore>
    <packageManagement>
        <add key="format" value="0" />
        <add key="disabled" value="False" />
    </packageManagement>
 </configuration>